Source: bbb-plugin-pick-random-user
Section: web
Priority: extra
Maintainer: Anton Georgiev <anton.georgiev@blindsidenetworks.com>
Build-Depends: debhelper (>= 13), nodejs (>= 18)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/plugin-pick-random-user

Package: bbb-plugin-pick-random-user
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Select a user at random
 An official BigBlueButton plugin which allows
 a moderator to pick a user among
 all viewers inside of a session.
